name: Build and deploy examples

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
    
  workflow_dispatch:

jobs:
  build-and-deploy:
      runs-on: ubuntu-latest
      steps:
        - name: Checkout
          uses: actions/checkout@v2.3.1

        - name: Install and Build
          run: |
            npm install
            npm run build
        - name: Deploy
          uses: JamesIves/github-pages-deploy-action@v4.2.2
          with:
            branch: gh-pages
            folder: examples/dist
